<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shuai.auth.mapper.LearningLessonMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, course_id, status, week_freq, plan_status, learned_sections, latest_section_id, latest_learn_time, create_time, expire_time, update_time
    </sql>

</mapper>
